<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witaj na mojej stronie</title>
    <link type="text/css"
            rel="stylesheet"
            href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<h1>Siemano <p th:text="${user}"></p> </h1>

    <form action="/users">
        <button class="btn btn-primary" type="submit">Wyswietl użytkowników</button>
    </form>

    <form action="/adduser">
        <button class="btn btn-success" type="submit">Dodaj użytkownika</button>
    </form>

</body>
</html>